h1 {
  color: #FF0000;
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
  text-align: center;
}

ul {
  font-size: 20px;
  line-height: 30px;
}

li {
  font-weight: bolder;
  color: #09b236;
}
